html {
    height: 100%;
    font-family: sans;
    background: url("/images/bar.svg") top left no-repeat, url("/images/bar2.svg") left 600px no-repeat, black;
}

body {
    width: 900px;
    margin: 0px auto;
}

div#content {
    position: relative;
    height: 500px;
    color:white;
    
}

div#content div {
    position: absolute;
}
div#content div div {
    position: relative;
}
/* header styles */
div#header {
    position: relative;
    height: 100px;
}
div#header > div {
    position: absolute;
    bottom: 0px;
}
div#header ul {
    list-style: none;
    margin: 0px; padding: 0px;
}
div#header li {
    float: left;
    margin-right: 50px;
}
div#header a {
    color: black;
    text-decoration: none;
}

div#content a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

div#footer {
    position: relative;
    padding-top: 8px;
    text-align: center;
    font-size: 9px;
    color: #888888;
}

div#footer a {
    font-weight: bold;
    color: #888888;
    text-decoration: none;
}

h1 {
    margin: 0px;
    padding: 4px 0px;
    text-decoration: none;
    font-weight: normal;
}

/* Pager */
div.Pager {
    position: relative;
    
}
div.Pager > div {
    margin: 0px auto;
}

div.Pager ul {
    margin: 0px auto;
    list-style: none;
    padding: 0px;
}
div.Pager  li {
    float: left;
    margin-right: 50px;
}

div.Pager li.selected {
    color: black;
    background: white;
}
div#content div.Pager li.selected a {
    color: black;
}
div#content div.Pager li a {
    font-weight: normal;
    font-size: 9px;
}

/* faq */
div.question {
    text-decoration: underline;
}
div.answer {
    color: #aaa;
    font-style: italic;
}